@import "../../../styles/_variables";
@import "../../../styles/_mixins";
  
.categoriesheadinglink {
  display: inline-block;
  text-decoration: none;
  &:visited, &:hover, &:active {
    text-decoration: none;  
  }
  &:after {
    content: '';
    display: block;
    border-top: 3px solid $almost-pure-white;
    @include assign-value-to-props((margin-top, margin-bottom), 0.5em);
  }
}

.categorieslist {
display: inline-block;
list-style-type: none;
padding-inline-start: 0;
  li button {
    @include colored-font-props($gray-gray, $opensans-font, $size-normal);
    width: 100%;
    text-align: left;
    @include assign-value-to-props((border-top, border-left, border-right), none);
    @include assign-value-to-props((border-radius, padding-top, padding-bottom, padding-right), 0);
    padding-left: 1rem;
    border-bottom: 3px solid transparent;
    margin-bottom: 0.5em;
    &:hover {
      color: initial;
      text-decoration: none;
    }
    &:active, &:focus {
      color: $fucsia;
      text-decoration: none;
      border-bottom: 3px solid $fucsia;
    }
  }
}
  
.productcardthumbnail {
  @include assign-value-to-props((max-width, max-height), 50%);
  img {
    left: 50%;
  }
}

.strikethrough {
    text-decoration: line-through;
}

.pricetag {
    @include assign-value-to-props((background-color, border-color), $fucsia);
    color: white;
    border-radius: 0.25rem;
}

.cardwidth {
  min-width:12rem;
  max-width:12.5rem;
}

@media (max-width: 575px) {
  .mleftxs {
    margin-left: -2.2rem;
  }
}